a {
    color: red;
    font-family: verdana;
    font-size: 130%
}
body {background-color: dogderblue;}
h1 {
    color: black;
    font-family: verdana;
    font-size: 400%;
}
p {
    font-size: 200%; 
    font-family: verdana;
    color: blue;
}
