a {
    color: red;
    font-family: verdana;
    font-size: 250%
}
body {background-color: dogderblue;}
h1 {
    color: black;
    font-family: verdana;
    font-size: 600%;
}
p {
    font-size: 350%; 
    font-family: verdana;
    color: blue;
}
